:root{
    --COLOR_GRAY: #383B41;
    --COLOR_DARK: #26282C;
    --COLOR_VOID: #141517;
    --COLOR_LIGHT: #BFCBE3;
    --COLOR_LIGHT_HALF: #565A75;
    --COLOR_TEXT: #e2e7ff;
    --COLOR_TEXT_HOVER: #9097ff;
}

body{
    margin: 0;
    color: var(--COLOR_TEXT);
    background-color: var(--COLOR_GRAY);
}

h1, h2, h3, h4, h5{
    font-family: "Reaver";
}

a, p{
    font-family: "Radiance";
    margin: 0;
}

.Solid{
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

#Main{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;

    > #NavBar{
        height: clamp(40px, 4vw, 56px);
        display: flex;
        align-items: center;
        padding-left: 6px;
        padding-right: 6px;
        grid-column-gap: clamp(16px, 2vw, 32px);
        background-color: var(--COLOR_VOID);

        > #Title{
            height: 80%;
            display: flex;
            align-items: center;
            grid-column-gap: clamp(2px, 2%, 8px);

            > img{
                height: 90%;
            }

            > h1{
                font-family: "Reaver";
                font-size: clamp(14px, 1.25vw, 20px);
            }
        }

        > #NavButtons{
            display: flex;
            align-items: center;
            grid-column-gap: clamp(16px, 2vw, 32px);

            > a{
                font-size: clamp(14px, 1.25vw, 18px);
                color: var(--COLOR_TEXT);
                text-decoration: none;

                &:hover{
                    color: var(--COLOR_TEXT_HOVER);
                }
            }
        }
    }

    > #Content{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;

        > #SideBar{
            width: clamp(128px, 32vw, 384px);
            max-width: 384px;
            background-color: var(--COLOR_DARK);
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 4px;

            > div{
                background-color: var(--COLOR_VOID);
                padding: 6px;
                border-radius: 4px;
                font-size: 18px;
                cursor: pointer;

                &.IsInDev{
                    opacity: 0.32;
                    cursor: default;
                }
            }
        }

        > #ContextContent{
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0%;
            padding: clamp(12px, 2vw, 32px);
        }
    }
}